# Ignore everything
*

# Configs
!.gitignore
!.zshrc
!.zsh-autosugestions
!.zsh-syntax-highlighting
!.bashrc
!.config
!.config/alacritty
!.config/neofetch
!.config/ranger
!.config/nvim
!.config/starship.toml
!.config/htop
!.fonts

# Img
!Imágenes
!Imágenes/Fondos
!Imágenes/*.png
