# Ignore everything
*

# Configs
!.gitignore
!.zshrc
!.bashrc
!.profile
!.config
!.config/alacritty
!.config/alacritty/*
!.config/neofetch
!.config/neofetch/*
!.config/ranger
!.config/ranger/*
!.config/nvim
!.config/nvim/*
!.config/nvim/*/*
!.config/htop
!.config/htop/*
!.config/starship.toml
!.fonts
!install.sh

# Img
!Imágenes
!Imágenes/Fondos
!Imágenes/*.png

# Descargas
!Descargas
!Descargas/*.deb
